.App {
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    text-align: center;
}
.button {
    margin-top: 350px;
    border: none;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: white;
    background-color: rgb(0, 60, 255);
}

.OTPfield {
    margin-top: 5px;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    padding: 3px 3px 3px 3px;
    text-align: center;
}

.phoneenter {
    width: 200px;
    height: 30px;
    padding: 12px 16px;
    border-radius: 10px;

}

.full {
    margin: auto;
    margin-top: 100px;
    border-radius: 20px;
    background-color: #16181f;
    width: 500px;
    height: 600px;
}

.title {
    padding: 20px;
    color: #e1e6f0;
    font-family: sans-serif;
    font-size: 34px;

}
.lol {
    color: #e1e6f0;
}

.loginb {
    margin-top: 290px;
    border: none;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: white;
    background-color: rgb(0, 60, 255);
}